{
  "semi": false,
  "singleQuote": true,
  "printWidth": 350,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "proseWrap": "preserve"
}
