{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "keyframes-name-pattern": null,
    "selector-class-pattern": null,
    "declaration-block-no-shorthand-property-overrides": null
  }
}
