html {
  font-size: $default-font-size;
}

body {
  min-height: 100vh;
  font-family: $default-font;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: $default-font-line-height;
}


audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

video {
  max-width: 100%;
}

img {
  width: auto;
  max-width: 100%;
}

iframe {
  display: block;
  border: 0;
  overflow: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  color: inherit;
  margin-bottom: 0;
  line-height: 1.5;
  position: relative;
  font-family: $default-header-font;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
.h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6,
.h6 {
  font-size: 0.875rem;
  font-weight: 700;
}

p {
  margin-bottom: 1rem;
}

p.lead {
  font-weight: 400;
  line-height: 1.875;
  font-size: 1.125rem;
  margin-bottom: $space-xs + $space-sm;
}

.blockquote {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5rem;
  font-style: italic;
}

a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: none;

  &:not(.btn) {
    transition: all .2s ease-out;
  }

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    color: $primary-color;
  }
}

a,
button {
  outline: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: $space-md;
}

input,
select,
textarea {
  font-size: $space-md;
  font-style: normal;
  font-weight: 400;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

p:last-child,
pre:last-child,
table:last-child,
blockquote:last-child,
dd:last-child,
dd dl:last-child {
  margin-bottom: 0;
}


hr {
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  border-top-width: 1px;
  border-color: rgba(0, 0, 0, .04);
}

ul {
  &.list-check {
    padding: 0;
    list-style: none;

    li {
      margin: $space-xs 0 0 $space-lg;

      &:before {
        width: 6px;
        content: '';
        height: 13px;
        display: block;
        margin-top: 5px;
        margin-left: -20px;
        position: absolute;
        border: solid $secondary-color;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &-inline {
      display: flex;
      flex-flow: wrap;
    }
  }
}

@media (max-width: 700px) {
  h1,
  .h1 {
      font-size: 2rem;
      line-height: 1.25;
  }

  h2,
  .h2 {
      font-size: 1.75rem;
      line-height: 1.25;
  }

  h3,
  .h3 {
      font-size: 1.3125rem;
      line-height: 1.25;
  }

  h4,
  .h4 {
      font-size: 1.125rem;
      line-height: 1.25;
  }
}

@media (max-width: 480px) {
  h1,
  .h1 {
      font-size: 1.6875rem;
      line-height: 1.25;
  }

  h2,
  .h2 {
      font-size: 1.5rem;
      line-height: 1.25;
  }

  .lead {
      font-size: 1rem;
  }
}
