@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: variables.$default-font-size;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizelegibility;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: variables.$default-font;
  line-height: variables.$default-font-line-height;
}

select {
  width: 100%;
}

button {
  border: 0;
  padding: 0;
  line-height: 1;
  overflow: visible;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  appearance: auto;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: none;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  box-sizing: content-box;
  appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  appearance: none;
}

legend {
  padding: 0;
  border: 0;
}

optgroup {
  font-weight: 700;
}

ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

textarea {
  height: auto;
  min-height: 50px;
  overflow: auto;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

video {
  max-width: 100%;
}

img {
  width: auto;
  display: inline-block;
  max-width: 100%;
  height: auto;
  border: 0;
}

iframe {
  display: block;
  border: 0;
  overflow: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  color: inherit;
  margin-bottom: 0;
  line-height: 1.5;
  position: relative;
  font-family: variables.$default-header-font;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1,
.h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6,
.h6 {
  font-size: 0.875rem;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

p.lead {
  font-weight: 400;
  line-height: 1.875;
  font-size: 1.125rem;
  margin-bottom: variables.$space-xs + variables.$space-sm;
}

.blockquote {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5rem;
  font-style: italic;
}

a {
  cursor: pointer;
  color: variables.$primary-color;
  text-decoration: none;

  &:not(.btn, .site-header-brand-logo) {
    font-weight: bold;
    text-decoration: underline;
    transition: all 0.2s ease-out;
  }

  &:hover,
  &:focus {
    outline: 0;
    text-decoration: none;
    color: variables.$primary-color;
  }
}

a,
button {
  outline: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

address,
blockquote,
dd,
dl,
fieldset,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: variables.$space-md;
}

input,
select,
textarea {
  font-size: variables.$space-md;
  font-style: normal;
  font-weight: 400;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

p:last-child,
pre:last-child,
table:last-child,
blockquote:last-child,
dd:last-child,
dd dl:last-child {
  margin-bottom: 0;
}

hr {
  height: 0;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
  border-top-width: 1px;
  box-sizing: content-box;
  border-color: rgb(0 0 0 / 4%);
}

ul {
  &.list-check {
    padding: 0;
    list-style: none;

    li {
      margin: variables.$space-xs 0 0 variables.$space-lg;

      &::before {
        width: 6px;
        content: "";
        height: 13px;
        display: block;
        margin-top: 5px;
        margin-left: -20px;
        position: absolute;
        border: solid variables.$secondary-color;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &-inline {
      display: flex;
      flex-flow: wrap;
    }
  }
}

@media (width <= 700px) {
  h1,
  .h1 {
    font-size: 2rem;
    line-height: 1.25;
  }

  h2,
  .h2 {
    font-size: 1.75rem;
    line-height: 1.25;
  }

  h3,
  .h3 {
    font-size: 1.3125rem;
    line-height: 1.25;
  }

  h4,
  .h4 {
    font-size: 1.125rem;
    line-height: 1.25;
  }
}

@media (width <= 480px) {
  h1,
  .h1 {
    font-size: 1.6875rem;
    line-height: 1.25;
  }

  h2,
  .h2 {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .lead {
    font-size: 1rem;
  }
}
