@use "variables";
@use "sass:color";

.btn {
  cursor: pointer;
  font-weight: 600;
  line-height: 1.75;
  user-select: none;
  text-align: center;
  border-radius: 2px;
  font-size: 0.9375rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  color: variables.$default-font-color;
  padding: variables.$space-sm variables.$space-lg;

  &:hover {
    color: variables.$default-font-color;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%);
  }

  &:first-child {
    margin-left: 0;
  }

  &-social {
    width: 32px;
    height: 32px;
    border: none;
    padding: 3px;
    line-height: 32px;
    position: relative;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    color: variables.$dark-color;
    background-color: transparent;
    border-color: variables.$dark-color;

    &:hover {
      color: variables.$white;
      border-color: variables.$dark-color;
      background-color: variables.$dark-color;
    }

    &-light {
      color: variables.$white;
      border-color: variables.$white;

      &:hover {
        border-color: variables.$white;
        background-color: variables.$white;
        color: variables.$default-font-color;
      }
    }
  }

  &-primary {
    color: variables.$white;
    background-color: variables.$primary-color;
    border-color: color.adjust(variables.$primary-color, $lightness: 5%);

    &:hover {
      color: variables.$white;
      border-color: color.adjust(variables.$primary-color, $lightness: -15%);
      background-color: color.adjust(variables.$primary-color, $lightness: 5%);
    }

    &:focus {
      color: variables.$white;
    }
  }

  &-light {
    color: variables.$dark-color;
    background-color: variables.$light-alt;
    border-color: color.adjust(variables.$light-alt, $lightness: -5%);

    &:hover {
      color: variables.$dark-color;
      border-color: color.adjust(variables.$light-alt, $lightness: -15%);
      background-color: color.adjust(variables.$light-alt, $lightness: -5%);
    }

    &:focus,
    &.focus {
      box-shadow: 0 0 0 0 rgb(215 217 220 / 50%);
    }
  }
}
