@use "variables";

.feature-block {
  position: relative;
  border: variables.$feature-border;
  padding: variables.$feature-padding;
  background-color: variables.$feature-bg;
  border-radius: variables.$feature-radius;
  margin: calc(variables.$feature-padding / 2) 0;

  &::before {
    top: -1px;
    content: "";
    right: -1px;
    position: absolute;
    width: variables.$space-xl;
    height: variables.$space-xl;
    transition: all 0.3s ease-out;
    border-top: 2px solid variables.$primary-color;
    border-right: 2px solid variables.$primary-color;
    border-top-right-radius: variables.$default-radius;
  }

  p {
    margin-bottom: 0;
  }

  &-title {
    font-size: variables.$feature-title-font-size;
    font-weight: variables.$feature-title-font-weight;
  }

  &-icon {
    display: flex;
    position: relative;
    margin-bottom: variables.$space-md;
    font-size: variables.$feature-icon-size;

    > * {
      margin-right: calc(variables.$feature-padding / 2);
    }

    svg {
      height: variables.$feature-icon-size;
      transition: all 0.3s ease-out;
      max-width: variables.$feature-icon-size * 2;
    }

    a:hover {
      svg {
        transform: translateY(-4px) !important;
      }
    }
  }

  &-link {
    font-weight: 600;
    font-style: italic;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }

  &:hover {
    &::before {
      width: variables.$space-xl * 2;
      height: variables.$space-xl * 2;
    }
  }

  &-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @media (width <= 992px) {
    padding: calc(variables.$feature-padding / 2);
  }
}

.icons-only {
  justify-content: space-between;
  margin: 0;
}
