@use "sass:map";
@use "sass:math";
@use "mixins/bp-mixins";
@use "mixins/config";
@use "mixins/grid-mixins";
@use "mixins/util";

// Base column is extend to avoid duplication at breakpoints
%column {
  position: relative;
  width: 100%;
  min-height: 1px; // Prevent collapsing
  padding-right: calc(config.$grid-gutter-width / 2);
  padding-left: calc(config.$grid-gutter-width / 2);
}

@each $breakpoint in map.keys(config.$breakpoints) {
  $bp: bp-mixins.breakpoint-infix($breakpoint, config.$breakpoints);

  // Allow columns to stretch full width below their breakpoints
  @for $i from 1 through config.$grid-columns {
    .c-col#{$bp}-#{$i} {
      @extend %column;
    }
  }

  .c-col#{$bp},
  .c-col#{$bp}-auto {
    @extend %column;
  }

  @include bp-mixins.media-breakpoint-up($breakpoint, config.$breakpoints) {
    // Provide basic `.c-col-{bp}` classes for equal-width flexbox columns
    .c-col#{$bp} {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }

    .c-col#{$bp}-auto {
      flex: 0 0 auto;
      width: auto;
      max-width: none; // Reset earlier grid tiers
    }

    @for $i from 1 through config.$grid-columns {
      .c-col#{$bp}-#{$i} {
        @include grid-mixins.grid-col($i, config.$grid-columns);
      }
    }

    @for $i from 1 through config.$grid-columns {
      .c-col#{$bp}-order-#{$i} {
        order: $i;
      }
    }

    @for $i from 1 through config.$grid-columns {
      .c-col#{$bp}-offset-#{$i} {
        margin-left: math.percentage(calc($i / config.$grid-columns));
      }
    }

    .c-col#{$bp}-collapsed {
      padding: util.$space-0;
    }

    .c-col#{$bp}-align-auto {
      align-self: auto;
    }

    .c-col#{$bp}-align-start {
      align-self: flex-start;
    }

    .c-col#{$bp}-align-end {
      align-self: flex-end;
    }

    .c-col#{$bp}-align-center {
      align-self: center;
    }

    .c-col#{$bp}-align-baseline {
      align-self: baseline;
    }

    .c-col-content#{$bp}-unstretch {
      align-self: baseline;
    }

    .c-col#{$bp}-align-stretch {
      display: flex;
      align-self: stretch;
    }
  }
}

.c-col-shrink {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  padding: 0 calc(config.$grid-gutter-width / 2);
}
