@use "variables";
@use "sass:color";

body.site-header-open {
  overflow-y: hidden;

  .site-header {
    transform: translate3d(0, 0, 0);
    box-shadow:
      0 0 100px rgb(0 0 0 / 25%),
      0 0 20px rgb(0 0 0 / 25%);

    &-overlay {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s, 0s;
    }
  }
}

.site-header {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  position: fixed;
  min-height: 100%;
  overflow: hidden auto;
  flex-direction: column;
  backface-visibility: hidden;
  justify-content: space-between;
  width: variables.$side-nav-width;
  background: variables.$side-nav-bg;
  transition: transform 0.3s ease-out;
  padding-bottom: variables.$space-xl;
  padding-top: variables.$space-xxl * 2;
  transform: translate3D(-(variables.$side-nav-width), 0, 0);

  &-line {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: color.adjust(variables.$dark-color, $lightness: -5%);

    &::after {
      left: 0;
      top: -50%;
      content: "";
      width: 100%;
      height: 15vh;
      display: block;
      position: absolute;
      animation-fill-mode: forwards;
      animation: run2 6s 0s infinite;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0%, variables.$secondary-color 75%, variables.$secondary-color 100%);
    }
  }

  &-brand {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 variables.$space-md;
    margin-bottom: variables.$space-xxl;

    &-logo {
      font-weight: 600;
      font-size: 1.5rem;
      position: relative;
      text-align: center;
      line-height: 2.25rem;
      text-decoration: none;
      color: variables.$white;
      font-family: variables.$default-header-font;

      *:not(.site-header-brand-logo-letter) {
        position: relative;
        z-index: 10;
      }

      &-letter {
        left: 0;
        right: 0;
        top: 50%;
        opacity: 0.1;
        font-size: 3em;
        line-height: 1;
        font-weight: 700;
        user-select: none;
        position: absolute;
        text-align: inherit;
        color: variables.$white;
        transform: translate(0%, -50%);
        font-family: variables.$default-font;
      }

      &:hover {
        color: variables.$white;
        opacity: 0.75;
      }
    }
  }

  &-overlay {
    inset: -120px 0;
    opacity: 0;
    z-index: 9450;
    cursor: pointer;
    position: fixed;
    visibility: hidden;
    touch-action: pan-y;
    transition:
      opacity 0.3s ease-out 0s,
      visibility 0s ease-out 0.3s;

    &-inner {
      inset: 0;
      opacity: 0.8;
      position: absolute;
      background-color: variables.$side-nav-bg;

      canvas {
        inset: 0;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
  }

  &-divider {
    width: 1px;
    opacity: 0.13;
    background-color: variables.$white;
    height: variables.$space-xxl + variables.$space-sm;
    margin: (variables.$space-xxl + variables.$space-md) auto;
  }

  &-nav {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0 variables.$space-xl;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-top: variables.$space-md;
      margin-bottom: variables.$space-md;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 1rem;
        font-weight: 600;
        position: relative;
        line-height: 1.75rem;
        display: inline-block;
        text-decoration: none;
        color: variables.$white;
        transition: color 0.2s ease-out;
        font-family: variables.$default-header-font;

        &::before {
          left: 0;
          bottom: 0;
          opacity: 0;
          content: "";
          width: 100%;
          transition: 0.5s;
          visibility: hidden;
          position: absolute;
          transform: scaleX(0);
          border-bottom: 1px dotted variables.$primary-color;
        }

        &:hover::before,
        &.active::before {
          opacity: 1;
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }

  &-social {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0 variables.$space-xl;

    ul {
      padding: 0;
      width: 100%;
      display: flex;
      list-style: none;
      justify-content: space-evenly;
    }
  }

  @media (width >= 1200px) {
    z-index: 5;
    transition: none;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 rgb(0 0 0 / 0%);

    &-overlay {
      display: none;
    }
  }
}

@keyframes run2 {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

@keyframes run2 {
  0% {
    top: -50%;
  }

  100% {
    top: 110%;
  }
}

.mobile-logo {
  display: flex;
  outline: none;
  z-index: 9400;
  flex-wrap: wrap;
  position: fixed;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  user-select: none;
  text-align: center;
  font-size: 1.25rem;
  align-items: center;
  color: variables.$white;
  top: variables.$space-md;
  left: variables.$space-md;
  min-height: variables.$space-xxl;
  background-color: variables.$dark-color;
  border-radius: variables.$default-radius;
  font-family: variables.$default-header-font;
  border: 1px solid rgb(255 255 255 / 20%);
  padding: variables.$space-xs variables.$space-md;
  max-width: calc(100% - 45px - variables.$space-xxl);
  box-shadow:
    0 0 15px rgb(0 0 0 / 7%),
    0 0 5px rgb(0 0 0 / 7%);

  span,
  img {
    display: block;
    position: relative;
  }

  &:hover {
    color: variables.$white;
    background-color: color.adjust(variables.$dark-color, $lightness: -5%);
  }

  @media (width >= 576px) {
    max-width: calc(100% - 60px - 54px);
    top: variables.$space-md + variables.$space-sm;
    left: variables.$space-md + variables.$space-sm;
  }

  @media (width >= 768px) and (width <= 1199px) {
    top: variables.$space-xl;
    left: variables.$space-xl;
    max-width: calc(100% - 90px - 54px);
  }

  @media (width >= 1200px) {
    display: none;
  }
}

.nav-toggle {
  padding: 0;
  outline: none;
  z-index: 10000;
  cursor: pointer;
  position: fixed;
  user-select: none;
  color: variables.$white;
  top: variables.$space-md;
  right: variables.$space-md;
  width: variables.$space-xxl;
  height: variables.$space-xxl;
  background-color: variables.$dark-color;
  border-radius: variables.$default-radius;
  border: 1px solid rgb(255 255 255 / 20%);
  box-shadow:
    0 0 15px rgb(0 0 0 / 7%),
    0 0 5px rgb(0 0 0 / 7%);

  &:focus {
    outline: none;
  }

  &:hover {
    color: variables.$white;
    background-color: color.adjust(variables.$dark-color, $lightness: -5%);
  }

  span {
    height: 2px;
    display: block;
    margin: 0 auto;
    position: relative;
    width: variables.$space-xl;
    background-clip: padding-box;
    background: variables.$white;
    transition: background 0.2s 0.2s ease-in-out;

    &::after,
    &::before {
      height: 2px;
      content: "";
      display: block;
      position: absolute;
      transform-origin: 50% 50%;
      width: variables.$space-md;
      background: variables.$white;
      background-clip: padding-box;
      transition:
        top 0.2s 0.4s ease-in-out,
        left 0.2s 0.2s ease-in-out,
        right 0.2s 0.2s ease-in-out,
        width 0.2s 0.2s ease-in-out,
        transform 0.2s ease-in-out;
    }

    &::before {
      left: variables.$space-md;
      top: (variables.$space-sm + 2);
    }

    &::after {
      right: variables.$space-md;
      top: -(variables.$space-sm + 2);
    }
  }

  &.open span {
    background: transparent !important;
    transition: background 0.2s 0s ease-in-out;

    &::before,
    &::after {
      top: 0;
      width: variables.$space-xl;
      transition:
        top 0.2s ease-in-out,
        left 0.2s 0.2s ease-in-out,
        right 0.2s 0.2s ease-in-out,
        width 0.2s 0.2s ease-in-out,
        transform 0.2s 0.4s ease-in-out;
    }

    &::before {
      left: 0;
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &::after {
      right: 0;
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  @media (width >= 576px) {
    top: variables.$space-md + variables.$space-sm;
    right: variables.$space-md + variables.$space-sm;
  }

  @media (width >= 768px) and (width <= 1199px) {
    top: variables.$space-xl;
    right: variables.$space-xl;
  }

  @media (width >= 1200px) {
    display: none;
  }
}
