@use "variables";

.page {
  &-content {
    position: relative;
    background: variables.$white;
  }

  &-cover {
    overflow: hidden;
    position: relative;

    &-wrapper-fixed {
      width: 100%;
      height: inherit;
      position: relative;

      @media (height >= 640px) {
        position: fixed;
        max-height: 100vh;
        min-height: 100vh;
      }

      @media (width >= 1200px) and (height >= 640px) {
        right: 0;
        width: auto;
        min-height: 100vh;
        left: variables.$side-nav-width;
      }
    }

    &-bg {
      inset: 0;
      position: absolute;
    }

    &-wrap {
      position: relative;
    }

    .cover-letter {
      top: 50%;
      left: 50%;
      z-index: 0;
      line-height: 1;
      font-weight: 700;
      user-select: none;
      position: absolute;
      color: rgb(0 0 0 / 7%);
      transform: translate(-50%, -50%);
      font-family: variables.$default-header-font;
    }

    .container > *:not(.cover-letter) {
      position: relative;
      z-index: 2;
    }
  }

  &-footer {
    margin: 0;
    width: 100%;
    position: relative;
    text-align: center;
    padding: variables.$space-md 0;
    background-color: variables.$light-bg;

    ul {
      padding: 0;
      width: 100%;
      display: flex;
      list-style: none;
      justify-content: center;
      margin: 0 0 variables.$space-sm 0;

      li {
        margin: variables.$space-sm;
      }
    }
  }
}

@media (width >= 1200px) {
  .page-wrapper {
    z-index: 10;
    width: auto;
    position: relative;
    margin-left: variables.$side-nav-width;
    box-shadow:
      0 0 variables.$side-nav-width rgb(0 0 0 / 2.7%),
      0 0 27px rgb(0 0 0 / 10%);
  }
}

.overlay-inner {
  inset: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  canvas {
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &-holder img {
    display: none;
  }

  &:not(.overlay-inner-holder) {
    opacity: 0.75;
    background-color: variables.$dark-color;
  }
}
