@use "variables";

.portfolio {
  &-head {
    padding-top: variables.$space-md * 8;
    padding-bottom: variables.$space-xxl;
    color: variables.$portfolio-head-color;
    background-color: variables.$portfolio-head-bg;

    .section-head {
      margin-bottom: variables.$space-xl;

      &-title-letter {
        color: rgba(0,0,0,0.4);
      }
    }
  }

  &-page {
    padding-top: variables.$space-xl * 2;
  }

  &-item {
    position: relative;
    margin: variables.$space-md 0;

    &>a {
      display: block;
      position: relative;
      transition: all .3s ease-out;

      &:hover .portfolio-item-overlay {
        opacity: .95;
      }
    }

    &>a:hover {
      opacity: .95;
    }

    &-media {
      overflow: hidden;
      position: relative;
      border: variables.$default-border;
      border-radius: variables.$default-radius;

      img {
        display: block;
      }

      &:before {
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        position: absolute;
        background: variables.$dark-color;
        height: (variables.$space-xl + variables.$space-sm);
      }
    }

    &-overlay {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      position: absolute;
      transition: all .3s ease-out;
      border-radius: variables.$default-radius;
    }

    &-details {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      color: #fff;
      flex-wrap: wrap;
      position: absolute;
      padding: variables.$space-sm;
      flex-direction: column;
      justify-content: flex-end;
      backface-visibility: hidden;
    }
  }

  &-meta {
    margin: variables.$space-xl 0;
    border: variables.$default-border;
    background-color: variables.$light-bg;

    .tools {
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      a,
      svg {
        min-width: variables.$space-xl;
        min-height: variables.$space-xl;
        margin-right: variables.$space-sm;
      }
    }

    dl {
      margin-bottom: 0;
    }

    dd {
      line-height: 1.5;
      margin-bottom: variables.$space-md;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .btn {
      font-size: 14px;
      padding: variables.$space-xs variables.$space-md;
    }

    .c-row,
    .c-row & {
      padding: variables.$space-lg;
    }
  }

  &-section {
    padding-bottom: variables.$space-xl * 2;
  }
}

.matrix-img {
  max-width: 400px;

  @media (max-width:992px) {
    padding: 0 variables.$space-md variables.$space-xl variables.$space-md;
    max-width: 325px
  }
}


.btns {
  &:first-child {
    margin-right: variables.$space-md;
  }

  @media (max-width:992px) {
    .btn {
      display: block;

      &:first-child {
        margin-right: 0;
        margin-bottom: variables.$space-md;
      }
    }
  }
}
