@use "variables";

section {
  position: relative;
  padding: (variables.$space-xxl * 2) 0;
  border-bottom: variables.$default-border;

  &#skills {
    background-color: variables.$light-bg;
  }

  &#portfolio {
    background-color: variables.$light-bg;
  }

  @media (width <=992px) {
    padding-left: variables.$space-sm + variables.$space-xs;
    padding-right: variables.$space-sm + variables.$space-xs;
  }
}

.section-head {
  text-align: center;
  margin-bottom: variables.$space-xxl;

  &-title {
    width: 100%;
    font-weight: 700;
    position: relative;
    font-size: 2.25rem;
    margin: 0 auto variables.$space-xxl;

    & > *:not(.section-head-title-letter) {
      z-index: 2;
      position: relative;
    }

    &-letter {
      left: 0;
      right: 0;
      top: 50%;
      font-size: 3em;
      line-height: 1;
      font-weight: 700;
      user-select: none;
      position: absolute;
      text-align: inherit;
      color: rgb(0 0 0 / 7%);
      transform: translate(0%, -50%);
      font-family: variables.$default-header-font;
    }
  }

  p {
    width: 100%;
  }
}

.about-section {
  &-media {
    display: none;

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
      border-radius: variables.$default-radius;
    }

    @media (width >= 992px) {
      display: block;
    }
  }

  &-content {
    margin-bottom: variables.$space-md;
  }

  &-list {
    padding: variables.$space-lg;
    margin: variables.$space-xl 0;
    border: variables.$default-border;
    background-color: variables.$light-bg;

    &-title {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: variables.$space-sm;
    }
  }
}

.works-logo {
  margin-bottom: variables.$space-md;
  width: 225px;
  height: auto;

  svg {
    width: 100%;
    height: 100%;
  }
}

.home-section {
  display: flex;
  color: white;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  border-bottom: none;

  .cover-letter {
    opacity: 0.1;
    color: white;
  }
}

.experience {
  display: flex;
  flex-flow: nowrap;
  position: relative;

  &-time {
    width: 2px;
    display: flex;
    margin: 23px 20px 0;
    justify-content: center;
    background-color: #2cb59a;

    &::before {
      top: 7px;
      width: 6px;
      content: "";
      height: 6px;
      position: absolute;
      background-color: #2cb59a;
    }
  }

  &-info {
    .experience-jobtitle {
      color: #000;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.25;
    }

    .experience-tasks {
      font-size: 14px;
      flex-flow: column;
      margin: 0 0 (variables.$space-md - variables.$space-xs);
    }

    ul.experience-tasks {
      padding: 0;
      display: flex;
      list-style: none;

      li {
        font-size: 12px;
        margin: 0 0 0 (variables.$space-lg - variables.$space-xs);

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: variables.$space-sm - 2;
          height: variables.$space-sm + 2;
          margin-top: variables.$space-sm;
          margin-left: -(variables.$space-md);
          border: solid #2cb59a;
          transform: rotate(45deg);
          border-width: 0 2px 2px 0;
        }
      }
    }
  }

  &:last-of-type .experience-info .experience-tasks {
    margin-bottom: 0;
  }

  small {
    font-size: 10px;
    letter-spacing: 2px;
    pointer-events: none;
  }
}

@media (width <=992px) {
  .experience {
    &:first-of-type {
      margin: variables.$space-xl 0 0;
    }

    &-time {
      margin-left: 0;
    }
  }
}

@media (width <=992px) {
  ul.experience-tasks {
    flex-flow: wrap;

    li {
      margin-bottom: 10px;
    }
  }
}
